@import url("https://fonts.googleapis.com/css?family=Bellota");
@import url("https://fonts.googleapis.com/css?family=Bellota");
@import url("https://fonts.googleapis.com/css?family=Bellota|Varela+Round");
body {
  margin: 0;
  background-color: #cccccc;
  max-width: 1200px;
  align-items: center;
  margin-right: auto;
  margin-left: auto; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Pacifico', cursive; }
  ul.topnav li {
    float: right; }
    ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      background-color: #333;
      transform: translateY(100%); }
    ul.topnav li a:hover {
      background-color: #ddd;
      color: black; }
    ul.topnav li .active {
      background-color: #86592d; }
  ul.topnav h1 {
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px; }

.main_title {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Roundhand;
  font-size: 130%;
  font-family: 'Bellota', cursive; }
  .main_title h1 {
    margin-top: 0;
    padding: 50px; }

.main {
  background-color: white; }

@media screen and (max-width: 1100px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    margin: auto; }
    ul.topnav li.right a,
    ul.topnav li a {
      padding: 14px 16px;
      transform: translateY(0%); }

  ul.topnav h1 {
    float: none;
    text-align: center; }

  .main_title {
    transform: translateY(10%);
    margin-bottom: 10%;
    font-size: 100%; } }
@media screen and (max-width: 1250) {
  body {
    margin-bottom: 0; } }
a {
  text-decoration: none;
  color: black; }

body {
  margin: 0;
  background-color: #cccccc;
  max-width: 1200px;
  align-items: center;
  margin-right: auto;
  margin-left: auto; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Pacifico', cursive; }
  ul.topnav li {
    float: right; }
    ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      background-color: #333;
      transform: translateY(100%); }
    ul.topnav li a:hover {
      background-color: #ddd;
      color: black; }
    ul.topnav li .active {
      background-color: #86592d; }
  ul.topnav h1 {
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px; }

.main_title {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Roundhand;
  font-size: 130%;
  font-family: 'Bellota', cursive; }
  .main_title h1 {
    margin-top: 0;
    padding: 50px; }

.main {
  background-color: white; }

@media screen and (max-width: 1100px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    margin: auto; }
    ul.topnav li.right a,
    ul.topnav li a {
      padding: 14px 16px;
      transform: translateY(0%); }

  ul.topnav h1 {
    float: none;
    text-align: center; }

  .main_title {
    transform: translateY(10%);
    margin-bottom: 10%;
    font-size: 100%; } }
@media screen and (max-width: 1250) {
  body {
    margin-bottom: 0; } }
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

.container {
  position: relative;
  width: 80%;
  margin: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 0%; }

.disc {
  font-size: 30px; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 0%;
  border-radius: 8px; }

.film_inside_name {
  color: black;
  font-size: 150%;
  padding: 16px 32px; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 30%; }

.container:hover .image {
  opacity: 0.3; }
.container:hover .middle {
  opacity: 1; }

.text {
  color: black;
  font-size: 150%;
  padding: 16px 32px;
  font-family: "Bradley Hand"; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-around; }

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  margin-bottom: 10%; }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%; }

  .container {
    font-size: 30px; }

  .text {
    color: black;
    font-size: 60%;
    padding: 16px 32px;
    font-family: "Bradley Hand"; } }
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%; }

  .container {
    margin-top: 10%; }

  .container {
    font-size: 10px; }

  .text {
    color: black;
    font-size: 40%;
    padding: 16px 32px;
    font-family: "Bradley Hand";
    align-items: center; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {
  .column {
    flex: 100%;
    max-width: 100%; }

  .image {
    width: 60%; }

  .container {
    font-size: 60px; }

  .container {
    width: 60%;
    margin-bottom: 5%; } }
.main_image {
  position: relative;
  padding: 3%; }

@media screen and (max-width: 1300px) {
  .main_image {
    top: 40%; } }
@media screen and (max-width: 650px) {
  .main_image {
    top: 70%; } }
.login_container {
  margin: auto;
  padding: 5%;
  background-color: white; }

.signup_container {
  margin: auto;
  padding: 5%;
  background-color: #404040;
  color: white; }

input[type=login] {
  margin-top: 5px;
  margin-bottom: 25px;
  display: block;
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px; }

button[type=submit] {
  display: block;
  background-color: #916953;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; }

label {
  font-size: 20px;
  font-family: sans-serif; }

@media screen and (max-width: 1100px) {
  input[type=login] {
    width: 90%; } }
.signup_form {
  margin-top: 10%;
  margin-bottom: 5%; }

.search_container {
  padding: 5%;
  margin: auto; }

input[type=search] {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px;
  align-self: center; }

button[type=search] {
  display: block;
  background-color: #916953;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  left: 4%;
  top: 50%;
  margin-bottom: 15%; }

@media screen and (max-width: 1100px) {
  button[type=search] {
    margin-bottom: 30%; } }
.container_profile {
  position: relative;
  margin-left: auto;
  padding: 5%; }

.profile_titles {
  font-family: 'Varela Round', sans-serif; }

.profile_info {
  color: #404040;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px; }

input[type=change] {
  margin-bottom: 30px;
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px; }

button[type=change] {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  width: auto;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background-color: #916953;
  color: white;
  align-self: flex-end;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #916953;
  border-radius: 4px; }

.password_form {
  margin-top: 5px;
  margin-bottom: 30px;
  display: block;
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px; }

@media screen and (max-width: 1100px) {
  input[type=change] {
    width: 90%; }

  .password_form {
    width: 90%; } }
.propose_form {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #ffe6cc;
  text-align: left;
  padding: 5%; }
  .propose_form input[type=link] {
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    margin-bottom: 15px; }
  .propose_form input[type=text] {
    width: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    margin-bottom: 15px; }
  @media screen and (max-width: 1100px) {
    .propose_form input[type=link] {
      width: 90%; }
    .propose_form input[type=text] {
      width: 90%; }
    .propose_form .propose_form {
      margin-left: 10%; } }

/*# sourceMappingURL=CAC.css.map */
