@import "variables";
.main_image{
  position: absolute;
  display: inline-block;
  top:30%;
  left:10%;
  right: 10%;
}

@media screen and (max-width: 1300px) {
  .main_image {
    top: 40%;
  }
}

@media screen and (max-width: 650px) {
  .main_image {
    top: 70%;
  }
}
