@import "variables";
body{
  margin: 0;
  background-color: #cccccc;
  max-width: 1200px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
ul.topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $background_nav;
  li{
    float: right;
    a{
      display: block;
      color: $text_color;
      text-align: center;
      padding: 50px 16px;
      text-decoration: none;
      background-color: $buttons_back_color;
    }
    a:hover{
      background-color: $buttons_hover_color;
      color: black;
    }
  }
  h1{
    color: $text_color;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 50px;
  }
}
.main_title{
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  font-family: Roundhand;
  font-size: 130%;
}
.main{
  background-color: white;
}
@media screen and (max-width: 1100px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    margin: auto;
    a{
      padding: 14px 16px;
    }
  }
  ul.topnav h1{
    float:none;
    text-align: center;
    }
  .main_title{
    transform: translateY(10%);
    margin-bottom: 10%
  }
}
