@import "variables";
body{
  margin: 0;
  background-color: $back_color;
}
ul.topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $background_nav;
  li{
    float: right;
    a{
      display: block;
      color: $text_color;
      text-align: center;
      padding: 50px 16px;
      text-decoration: none;
      background-color: $buttons_back_color;
    }
    a:hover{
      background-color: $buttons_hover_color;
      color: black;
    }
  }
  h1{
    display: block;
    color: $text_color;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    p{
      color: $text_color;
      font-size: 1.0rem;
      font-weight: 400;
    }
  }
}
.main_title{
  position: relative;
  text-align: center;
  top: 10%;
  transform: translateY(100%);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}
@media screen and (max-width: 800px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    margin: auto;
    a{
      padding: 14px 16px;
    }
  }
  ul.topnav h1{
    float:none;
    text-align: center;
    }
  .main_title{
    transform: translateY(10%);
    margin-bottom: 15%
  }
}
