@import "variables";
input[type=text] {
  margin-top: 5px;
  margin-bottom: 25px;
  display: block;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px;

}
button[type=submit] {
  display: block;
  background-color: $button_color;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  input[type=text] {
    width: 60%;
  }
}

.signup_form{
  margin-top: 10%;
  margin-bottom: 5%;
}
