@import "variables";

.container_profile{
  position: relative;
  margin-left: auto;
  padding: 5%;
}
.profile_titles{
  font-family: 'Varela Round', sans-serif;
}
  .profile_info{
    color: $profile_text;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
  }
  input[type=change] {
    margin-bottom: 30px;
    width: 60%;
    box-sizing: border-box;
    border: 2px solid $border_color;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;

  }
  button[type=change] {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: $button_color;
    color: white;
    align-self: flex-end;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: $button_color;
    border-radius: 4px;
  }
  .password_form{
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
    width: 60%;
    box-sizing: border-box;
    border: 2px solid $border_color;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
  }
  @media screen and (max-width: 1100px) {
    input[type=change] {
      width: 90%;
    }
    .password_form{
      width: 90%;
    }
  }
