@import "variables";

.container_profile{
  position: relative;
  left: 5%;
  top: 100%;
  transform: translate(+10%, +0%);
  margin-left: auto;
  margin-right: 15%;
  margin-top: 10%;
  .profile_info{
    color: $profile_text;
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 20px;
  }
  input[type=change] {
    margin-bottom: 30px;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid $border_color;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
  }
  button[type=change] {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: $button_color;
    color: white;
    align-self: flex-end;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .password_form{
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid $border_color;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
  }
  @media screen and (max-width: 1100px) {
    input[type=change] {
      width: 60%;
    }
    .password_form{
      width: 60%;
    }
    .container_profile{
      transform: translate(+0%, +10%);
    }
  }
}
