@import "variables";
@import "header";
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 80%;
  margin: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 30%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 5%;
  border-radius: 8px;
}

.film_inside_name{
  color: black;
  font-size: 150%;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%)
}


.container:hover {
  .image {
    opacity: 0.3;
  }
  .middle {
    opacity: 1;
  }
}

.text {
  color: black;
  font-size: 110%;
  padding: 16px 32px;
  font-family: "Bradley Hand";
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-around;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 10%;
  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .container{
    margin-top: 10%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .image {
    width: 60%;
  }
  .container {
    font-size: 60px;
  }
  .container {
    width: 60%;
    margin-bottom: 5%;
  }
}
